{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Test creation</h1>
        {{ form_start(form) }}
        {# ... #}
        {{ form_row(form.name) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.startTime) }}
        {#{{ form_widget(form) }}#}
        {# store the prototype on the data-prototype attribute #}
        <ul id="questions-list"
            data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}">
            {% for question in form.questions %}
                <li>
                    {{ form_errors(question) }}
                    {{ form_widget(question) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
                class="add-another-collection-widget btn btn-info"
                data-list="#questions-list">Add new question
        </button>

        {{ form_end(form) }}


        <ul>
            <li>
                <a href="{{ path('test_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
