<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/narrow-jumbotron.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/brands.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/solid.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}Symfony 2 survey{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('homepage', {'page': 'index'}) }}">Home <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('poll_index', {'page': 'index'}) }}">Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('poll_new', {'page': 'index'}) }}">Create your test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link"  href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
            </ul>
        </nav>
        <h3 class="text-muted">Symfony 2 survey</h3>
    </div>

    {% block body %} {% endblock body %}

    <footer class="footer mt-4">
        <p>&copy; Symfony 2 survey 2018</p>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/popper.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
<!-- Font Awesome -->
<script src="{{ asset('bundles/app/js/all.js') }}"></script>
<script src="{{ asset('bundles/app/js/brands.js') }}"></script>
<script src="{{ asset('bundles/app/js/solid.js') }}"></script>
{% block js_scripts %} {% endblock %}
</body>
</html>
