{% extePollnds '@App/layout.html.twig' %}

{% block body %}
    <h1>Test creation</h1>
    {% form_theme form '@App/collections/main.collection.html.twig' %}
    {% form_theme form.questions '@App/collections/questions.collection.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.questions) }}
    {{ form_end(form) }}
{% endblock %}

{% block js_scripts %}
    <script src="{{ asset('bundles/app/js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.test_questions').collection({
            add: '<a href="#" class="btn btn-info m-1"><i class="fas fa-plus"></i>Add question</a>',
            remove: '<a href="#" class="btn btn-danger m-1"><i class="fas fa-trash"></i></a>',
            allow_up: false,
            allow_down: false,
            prefix: 'parent',
            children: [{
                selector: '.questions_item',
                prefix: 'child',
                add: '<a href="#" class="btn btn-info m-1"><i class="fas fa-plus"></i>Add question item</a>',
                remove: '<a href="#" class="btn btn-danger m-1"><i class="fas fa-trash"></i></a>',
                duplicate: '<a href="#" class="btn btn-info m-1"><i class="fas fa-copy"></i></a>',
                allow_up: false,
                allow_down: false,
                allow_duplicate: true,
            }],
        });
    </script>
{% endblock %}

