{% extends '@App/layout.html.twig' %}

{% block title %} Tests - {{ poll.name }} {% endblock %}

{% block body %}
    <h1>{{ poll.name }}</h1>
    <hr>
    <div class="row">
        {% for question in poll.questions %}
            <div class="col-sm-6 mt-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ question.text }}</h4>
                        <hr>
                        <form class="ml-3">
                            {% for item in question.questionItems %}
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-input"
                                           id="q{{ question.id }}i{{ item.id }}">
                                    <label class="form-check-label"
                                           for="q{{ question.id }}i{{ item.id }}">{{ item.text }}</label>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="form-group mt-4 ">
    </div>
    <div class="form-group">
        <button onclick='location.href="{{ path('poll_edit', { 'id': poll.id }) }}"' class="btn btn-info"><i
                    class="fas fa-edit"></i></button>
        <button type="submit" class="btn btn-info">Submit</button>
        {#{{ form_start(delete_form) }}#}
        {#<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>#}
        {#{{ form_end(delete_form) }}#}
    </div>

{% endblock %}
