{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Questiontypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionType in questionTypes %}
            <tr>
                <td><a href="{{ path('test_type_show', { 'id': questionType.id }) }}">{{ questionType.id }}</a></td>
                <td>{{ questionType.name }}</td>
                <td>{{ questionType.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('test_type_show', { 'id': questionType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('test_type_edit', { 'id': questionType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_type_new') }}">Create a new questionType</a>
        </li>
    </ul>
{% endblock %}
